Auth
--email
--phoneNumber
--password (argon2)

Core
-MedidasCorporais
--peso(kg)
--altura(cm)
--idade(int)
--objetivo(enum[emagrecer, emagrecer+massa, ganhar massa muscular, definicao muscular + ganhar massa])
--calorias_diarias(enum[1200,1500,1800...])
--horarios_para_refeicoes(enum[["05:30", "08:30", "12:00", "15:00", "19:00"],
    ["06:00", "09:00", "12:00", "15:00", "19:00"],
    ["06:30", "09:30", "13:00", "16:00", "20:00"],
    ["07:00", "10:00", "12:30", "15:30", "19:30"],
    ["07:30", "10:30", "12:00", "15:00", "19:00"],
    ["08:00", "11:00", "13:30", "16:30", "20:30"],
    ["09:00", "11:00", "13:00", "16:00", "21:00"]])
--genero(m/f)

-CafeDaManha
